.filter-wrapper {
    border: 0.5px solid black;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 7px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.filter-title {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.filter-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 4px;
}

.filter-label {
    font-size: 19px;
    color: #D82727
}

.filter-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #ffffff; /* White background for the dropdown */
}

.filter-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #242e6b;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
}

.filter-button:hover {
    background-color: #242e6b;
}
